[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.2"
pygame = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "*"
